<%- layout('layouts/main.ejs', {tipoUsuario: tipoUsuario, tesis: tesis}) %>

<div class="card mt-4">
    <div class="card-header">
      <h5 class="card-title">Editar propuestas de tesis. Protocolos.</h5>
    </div>
    <div class="card-body">
      <form action="/propuestas" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
        <div class="form-group mt-4">
            <label for="inputNumero">ID</label>
            <input
              type="text"
              class="form-control"
              id="inputNumero"
              placeholder="Ingrese el ID de la tesis"
              name="numero"
              required
            />
            <div class="invalid-feedback">
              Campo necesario
            </div>
          </div>
        <div class="form-group mt-4">
          <label for="inputTitulo">Título</label>
          <input
            type="text"
            class="form-control"
            id="inputTitulo"
            placeholder="Ingrese el título de la tesis"
            name="titulo"
            required
          />
          <div class="invalid-feedback">
            Campo necesario
          </div>
        </div>
        <div class="form-group mt-4">
          <label for="inputEscuela">Escuela</label>
          <input
            type="text"
            class="form-control"
            id="inputEscuela"
            placeholder="Ingrese el nombre de la escuela"
            name="escuela"
            required
          />
          <div class="invalid-feedback">
            Campo necesario
          </div>
        </div>
        <div class="form-group mt-4">
          <label for="inputIntegrantes">Integrantes</label><br>
          <small id="indicacionIntegrantes" class="form-text text-muted">
            (Debes contar con los correos registrados en la plataforma de tus compañeros.)<br>
              Escriba los correos de los integrantes registrados en la plataforma separados por comas. Ej. 
              ayala.segoviano.donaldo@gmail.com, edoomm68@alumno.ipn.mx
          </small>
          <input
            type="text"
            class="form-control mt-1"
            id="inputIntegrantes"
            placeholder="Ingrese los correos de los integrantes"
            name="integrantes"
            required
          />
          <div class="invalid-feedback">
            Campo necesario
          </div>
        </div>
        <div class="form-group mt-4">
          <label for="inputDirectores">Directores</label><br>
          <small id="indicacionDirectores" class="form-text text-muted">
              (Debes contar con los correos registrados en la plataforma de tus directores.)<br>
              Escriba los correos de los directores registrados en la plataforma separados por comas. Ej. 
              magusjor@gmail.com, sanchez.valvero@docente.ipn.mx, ...
          </small>
          <input
            type="text"
            class="form-control mt-1"
            id="inputDirectores"
            placeholder="Ingrese los correos de los directores"
            name="directores"
            required
          />
          <div class="invalid-feedback">
            Campo necesario
          </div>
        </div>
        <div class="form-group mt-4">
            <label for="inputSinodales">Sinodales</label><br>
            <small id="indicacionSinodales" class="form-text text-muted">
                (Debes contar con los correos registrados en la plataforma de tus sinodales.)<br>
                Escriba los correos de los sinodales registrados en la plataforma separados por comas. Ej. 
                magusjor@gmail.com, sanchez.valvero@docente.ipn.mx, ...
            </small>
            <input
              type="text"
              class="form-control mt-1"
              id="inputSinodales"
              placeholder="Ingrese los correos de los sinodales"
              name="sinodales"
              required
            />
            <div class="invalid-feedback">
              Campo necesario
            </div>
          </div>
        <div class="form-group mt-4">
          <label for="inputPalabrasClave">Palabras Clave</label><br>
          <small id="indicacionPalabrasClave" class="form-text text-muted">
              Escriba las palabras clave, separadas por comas. Ej. Biología, Inteligencia Artificial, 
              Redes Neuronales, ...
          </small>
          <input
            type="text"
            class="form-control mt-1"
            id="inputPalabrasClave"
            placeholder="Ingrese las palabras clave"
            name="palabrasClave"
            required
          />
          <div class="invalid-feedback">
            Campo necesario
          </div>
        </div>
        <div class="form-group mt-4">
          <label for="Archivo">Archivo</label><br>
          <input
            type="file"
            class="form-control mt-1"
            id="inputArchivo"
            name="archivo"
            required
          />
          <div class="invalid-feedback">
            Campo necesario
          </div>
        </div>
        <button type="submit" class="btn btn-primary mt-4" id="btnSubmit">Guardar</button>
      </form>
    </div>
  </div>

  <script>
    var tesis = <%- JSON.stringify(tesis) %>;

    $(document).ready(() => {
        console.log(tesis);

        colocarDatos();
    });

    function colocarDatos() {
        $("#inputNumero").val(tesis.numero);
        $("#inputTitulo").val(tesis.titulo);
        $("#inputEscuela").val(tesis.escuela);
        $("#inputIntegrantes").val(tesis.integrantes.join(','));
        $("#inputDirectores").val(tesis.directores.join(','));
        $("#inputSinodales").val(tesis.sinodales.join(','));
        $("#inputPalabrasClave").val(tesis.palabrasClave.join(','));

        if (!tesis.numero)
            $("#btnSubmit").text("Guardar y notificar");
    }

    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
        .forEach(function (form) {
            form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
            }

            form.classList.add('was-validated')
            }, false)
        })
    })();
  </script>