<%- layout('layouts/main.ejs') %>

<div
  class="modal fade"
  id="informacionTesis"
  tabindex="-1"
  aria-labelledby="informacionTesisLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="informacionTesisLabel">
          Información de la tesis
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body">
        <form action="#">
          <div class="form-group">
            <label for="inputIdentificador"
              >Identificador/Número de Tesis</label
            >
            <input
              type="text"
              class="form-control"
              id="inputIdentificador"
              name="numero"
              value=""
              readonly
            />
          </div>
          <div class="form-group mt-4">
            <label for="inputTitulo">Título</label>
            <input
              type="text"
              class="form-control"
              id="inputTitulo"
              name="titulo"
              readonly
            />
            <div class="invalid-feedback">Campo necesario</div>
          </div>
          <div class="form-group mt-4">
            <label for="inputEscuela">Escuela</label>
            <input
              type="text"
              class="form-control"
              id="inputEscuela"
              name="escuela"
              readonly
            />
          </div>
          <div class="form-group mt-4">
            <label for="inputIntegrantes">Integrantes</label><br />
            <input
              type="text"
              class="form-control mt-1"
              id="inputIntegrantes"
              name="integrantes"
              readonly
            />
          </div>
          <div class="form-group mt-4">
            <label for="inputDirectores">Directores</label><br />
            <input
              type="text"
              class="form-control mt-1"
              id="inputDirectores"
              placeholder="Ingrese los nombre de los directores"
              name="directores"
              readonly
            />
          </div>
          <div class="form-group mt-4">
            <label for="inputSinodales">Sinodales</label><br />
            <input
              type="text"
              class="form-control mt-1"
              id="inputSinodales"
              name="sinodales"
              readonly
            />
          </div>
          <div class="form-group mt-4">
            <label for="inputPalabrasClave">Palabras Clave</label><br />
            <input
              type="text"
              class="form-control mt-1"
              id="inputPalabrasClave"
              name="palabrasClave"
              readonly
            />
          </div>
          <div class="form-group mt-4">
            <label for="inputFecha">Fecha de registro</label><br />
            <input
              type="text"
              class="form-control mt-1"
              id="inputFecha"
              name="palabrasClave"
              readonly
            />
          </div>
          <div class="form-group mt-4">
            <a
              id="linkDocumento"
              target="_blank"
              href=""
              class="btn btn-primary"
              >Ver documento completo</a
            >
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div class="card mt-4">
  <div class="card-header">
    <h5 class="card-title">Filtros de búsqueda.</h5>
  </div>
  <div class="card-body">
    <form
      action="/view/tesis"
      method="post"
      enctype="multipart/form-data"
      class="needs-validation"
      novalidate
    >
      <div class="form-group mt-4">
        <label for="filtroIdentificador">Número de tesis</label>
        <input
          type="text"
          class="form-control"
          id="filtroIdentificador"
          placeholder="Búsque por el número de tesis"
          name="numero"
        />
      </div>
      <div class="form-group mt-4">
        <label for="filtroTitulo">Título</label>
        <input
          type="text"
          class="form-control"
          id="filtroTitulo"
          placeholder="Búsque por el título de la tesis"
          name="titulo"
        />
      </div>
      <div class="form-group mt-4">
        <label for="filtroEscuela">Escuela</label>
        <input
          type="text"
          class="form-control"
          id="filtroEscuela"
          placeholder="Búsque por el nombre de la escuela"
          name="escuela"
        />
      </div>
      <div class="form-group mt-4">
        <label for="filtroIntegrantes">Integrantes</label><br />
        <small id="indicacionIntegrantes" class="form-text text-muted">
          Ingresa el nombre de los participantes.<br />
          Escriba el nombre o nombres de los integrantes separados por coma. Ej.
          Juan Manuel Vazquez, Luis Daniel Cervantes Montes, ...
        </small>
        <input
          type="text"
          class="form-control mt-1"
          id="filtroIntegrantes"
          placeholder="Búsque por los nombres de los integrantes"
          name="integrantes"
        />
      </div>
      <div class="form-group mt-4">
        <label for="filtroDirectores">Directores</label><br />
        <small id="indicacionDirectores" class="form-text text-muted">
          Ingresa el nombre del o de los directores.<br />
          Escriba el nombre o nombres de los directores separados por coma. Ej.
          Jorge Luis Rosas Trigueros, Miguel Abel Contreras Sanchez, ...
        </small>
        <input
          type="text"
          class="form-control mt-1"
          id="filtroDirectores"
          placeholder="Búsque por los nombres de los directores"
          name="directores"
        />
      </div>
      <div class="form-group mt-4">
        <label for="filtroSinodales">Sinodales</label><br />
        <small id="indicacionSinodales" class="form-text text-muted">
          Ingresa el nombre del o de los sinodales.<br />
          Escriba el nombre o nombres de los sinodales separados por coma. Ej.
          Jorge Luis Rosas Trigueros, Miguel Abel Contreras Sanchez, ...
        </small>
        <input
          type="text"
          class="form-control mt-1"
          id="filtroSinodales"
          placeholder="Búsque por los nombres de los directores"
          name="sinodales"
        />
      </div>
      <div class="form-group mt-4">
        <label for="filtroPalabrasClave">Palabras Clave</label><br />
        <small id="indicacionPalabrasClave" class="form-text text-muted">
          Escriba las palabras clave, separadas por comas. Ej. Biología,
          Inteligencia Artificial, Redes Neuronales, ...
        </small>
        <input
          type="text"
          class="form-control mt-1"
          id="filtroPalabrasClave"
          placeholder="Búsque por las palabras clave"
          name="palabrasClave"
        />
      </div>
      <div class="form-group mt-4">
        <label>Rango de fechas</label><br />
        <small id="indicacionFiltroFecha" class="form-text text-muted">
          Ingrese el rango de fechas para buscar tesis.
        </small>
        <div class="container">
          <div class="row">
            <div class="col-sm mr-auto">
              Desde &nbsp;
              <input
                type="date"
                class="mt-1"
                id="filtroFechaInicio"
                name="fechaInicio"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-sm mr-auto">
              Hasta &nbsp;
              <input
                type="date"
                class="mt-1"
                id="filtroFechaFin"
                name="fechaFin"
              />
            </div>
          </div>
        </div>
      </div>
      <button
        id="buscar"
        type="button"
        onclick="getInfo()"
        class="btn btn-primary mt-4"
      >
        Enviar
      </button>
    </form>
  </div>
</div>

<div class="card mt-4">
  <div class="card-header">
    <h5 class="card-title">Resultados.</h5>
  </div>
  <div class="card-body">
    <div class="container py-4">
      <table
        id="tesis"
        class="table table-striped table-bordered dt-responsive nowrap"
        style="width: 100%"
      >
        <thead>
          <tr>
            <th>Número</th>
            <th>Título</th>
            <th>Ver</th>
            <th>Fecha</th>
            <th>Palabras Clave</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>

<script>
  const recolectarFiltros = () => {
    const filtroNumero = document.getElementById("filtroIdentificador").value;
    const filtroTitulo = document.getElementById("filtroTitulo").value;
    const filtroEscuela = document.getElementById("filtroEscuela").value;
    const filtroDirectores = document.getElementById("filtroDirectores").value;
    const filtroSinodales = document.getElementById("filtroSinodales").value;
    const filtroPalabrasClave = document.getElementById("filtroPalabrasClave").value;
    const filtroIntegrantes = document.getElementById("filtroIntegrantes").value;
    const filtroFechaInicio = document.getElementById("filtroFechaInicio").value;
    const filtroFechaFin = document.getElementById("filtroFechaFin").value;

    return {
      numero: filtroNumero,
      titulo: filtroTitulo,
      escuela: filtroEscuela,
      integrantes: filtroIntegrantes,
      directores: filtroDirectores,
      sinodales: filtroSinodales,
      palabrasClave: filtroPalabrasClave,
      integrantes: filtroIntegrantes,
      fechaInicio: filtroFechaInicio,
      fechaFin: filtroFechaFin,
    };
  };

  const getInfo = () => {
    var url = "/tesis";
    var data = recolectarFiltros();
    const table = $("#tesis").DataTable();
    fetch(url, {
      method: "POST", // or 'PUT'
      body: JSON.stringify(data), // data can be `string` or {object}!
      headers: {
        "Content-Type": "application/json",
      },
    })
      .then((res) => res.json())
      .then((data) => {
        table.rows().remove().draw(false);
        data.forEach((tesis) => {
          const date = new Date(tesis.createdAt);
          tesis.createdAt = date.toISOString().slice(0,10);
          table.row.add(tesis).draw( false );
        });
      })
      .catch((error) => console.error("Error:", error))
      .then((response) => console.log("Success:", response));
  };

  const mostrarInformacion = async (id) => {
    fetch("/tesis/".concat(id))
      .then((response) => response.json())
      .then((data) => {
        const inputNumero = document.getElementById("inputIdentificador");
        inputNumero.value = data.numero;
        const inputTitulo = document.getElementById("inputTitulo");
        inputTitulo.value = data.titulo;
        const inputEscuela = document.getElementById("inputEscuela");
        inputEscuela.value = data.escuela;
        const inputDirectores = document.getElementById("inputDirectores");
        inputDirectores.value = data.directores.join(", ");
        const inputSinodales = document.getElementById("inputSinodales");
        inputSinodales.value = data.sinodales.join(", ");
        const inputPalabrasClave =
          document.getElementById("inputPalabrasClave");
        inputPalabrasClave.value = data.palabrasClave.join(", ");
        const inputIntegrantes = document.getElementById("inputIntegrantes");
        inputIntegrantes.value = data.integrantes.join(", ");
        const inputFecha = document.getElementById("inputFecha");
        inputFecha.value = data.createdAt;
        const linkDocumento = document.getElementById("linkDocumento");
        linkDocumento.href = "/propuestas/" + data.ruta;
      });
  };

  //Despuesde cargada la pagina, se proceden a enlazar los elementos con jquery

  $(document).ready(function () {
    //Enlazando tabla con datos AJAX
    var table = $("#tesis").DataTable({
      scrollX: true,
      data: [],
      columns: [
        {
          data: "numero",
        },
        {
          data: "titulo",
        },
        {
          data: null,
          render: function (data, type, row, meta) {
            return `
                <a
                  id="${data.numero}"
                  onclick="mostrarInformacion(this.id)"
                  data-bs-toggle="modal"
                  data-bs-target="#informacionTesis"
                  class="btn btn-sm btn-success">
                  <i class="fas fa-eye"></i>
                </a>`;
          },
        },
        {
          data: "createdAt",
        },
        {
          data: "palabrasClave",
        },
      ],
    });
  });
</script>
