<%- layout('layouts/main.ejs') %>

<% if (success != '') { %>
<div class="container">
  <div class="row">
    <div class="alert alert-<%= status %>" role="alert">
      <%= success %>
    </div>
  </div>
</div>
<% } %>

<div class="card mt-4">
  <div class="card-header">
    <h5 class="card-title">Registro de tesis al repositorio</h5>
  </div>
  <div class="card-body">
    <form action="/propuestas" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
      <div class="form-group">
        <label for="inputIdentificador">Identificador/Número de Tesis</label>
        <input
          type="text"
          class="form-control"
          id="inputIdentificador"
          placeholder="Ingrese el número o identificador de la tesis"
          name="numero"
          required
        />
        <div class="invalid-feedback">
          Campo necesario
        </div>
      </div>
      <div class="form-group mt-4">
        <label for="inputTitulo">Título</label>
        <input
          type="text"
          class="form-control"
          id="inputTitulo"
          placeholder="Ingrese el título de la tesis"
          name="titulo"
          required
        />
        <div class="invalid-feedback">
          Campo necesario
        </div>
      </div>
      <div class="form-group mt-4">
        <label for="inputEscuela">Escuela</label>
        <input
          type="text"
          class="form-control"
          id="inputEscuela"
          placeholder="Ingrese el nombre de la escuela"
          name="escuela"
          required
        />
        <div class="invalid-feedback">
          Campo necesario
        </div>
      </div>
      <div class="form-group mt-4">
        <label for="inputIntegrantes">Integrantes</label><br>
        <small id="indicacionIntegrantes" class="form-text text-muted">
            Escriba los nombres completos, comenzando por apellidos y separados por comas. Ej. 
            Ayala Segoviano Donaldo, Mendoza Martínez Eduardo
        </small>
        <input
          type="text"
          class="form-control mt-1"
          id="inputIntegrantes"
          placeholder="Ingrese los nombres de los integrantes"
          name="integrantes"
          required
        />
        <div class="invalid-feedback">
          Campo necesario
        </div>
      </div>
      <div class="form-group mt-4">
        <label for="inputDirectores">Directores</label><br>
        <small id="indicacionDirectores" class="form-text text-muted">
            Escriba los nombres completos, comenzando por apellidos y separados por comas. Ej. 
            Martinez Agustín Jorge, Sanchez Valdez Verónica, ...
        </small>
        <input
          type="text"
          class="form-control mt-1"
          id="inputDirectores"
          placeholder="Ingrese los nombre de los directores"
          name="directores"
          required
        />
        <div class="invalid-feedback">
          Campo necesario
        </div>
      </div>
      <div class="form-group mt-4">
        <label for="inputSinodales">Sinodales</label><br>
        <small id="indicacionSinodales" class="form-text text-muted">
            Escriba los nombres completos, comenzando por apellidos y separados por comas. Ej. 
            Martinez Agustín Jorge, Sanchez Valdez Verónica, ...
        </small>
        <input
          type="text"
          class="form-control mt-1"
          id="inputSinodales"
          placeholder="Ingrese los nombre de los sinodales"
          name="sinodales"
          required
        />
        <div class="invalid-feedback">
          Campo necesario
        </div>
      </div>
      <div class="form-group mt-4">
        <label for="inputPalabrasClave">Palabras Clave</label><br>
        <small id="indicacionPalabrasClave" class="form-text text-muted">
            Escriba las palabras clave, separadas por comas. Ej. Biología, Inteligencia Artificial, 
            Redes Neuronales, ...
        </small>
        <input
          type="text"
          class="form-control mt-1"
          id="inputPalabrasClave"
          placeholder="Ingrese las palabras clave"
          name="palabrasClave"
          required
        />
        <div class="invalid-feedback">
          Campo necesario
        </div>
      </div>
      <div class="form-group mt-4">
        <label for="Archivo">Archivo</label><br>
        <small id="indicacionArchivo" class="form-text text-muted">
            El archivo debe ser nombrado en el número de tesis. El formato debe ser PDF. Ej. 2021C-035.pdf
        </small>
        <input
          type="file"
          class="form-control mt-1"
          id="inputArchivo"
          name="archivo"
          required
        />
        <div class="invalid-feedback">
          Campo necesario
        </div>
      </div>
      <button type="submit" class="btn btn-primary mt-4">Enviar</button>
    </form>
  </div>
</div>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
  })()
</script>