<%- layout('layouts/main.ejs') %>

<form action="/archivos_tesis" method="post" enctype="multipart/form-data">
    <label for="archivo">Sube un archivo</label>
    <input type="file" name="archivo" id="">
    <input type="submit" value="Enviar">
</form>