<%- layout('layouts/main', {tipoUsuario: tipoUsuario}) %>

<style>
    .gray-text{
        color: #636363;
    }
</style>

<div class="row" style="margin-top: 2%;">
    <div class="card bg-c-blue order-card">
        <div class="card-block">
            <h1 class="mt-4">Perfil </h1>
            <i>
                <p class="mt-4">
                    ID: <%= user._id%>
                </p>
                <p class="mt-4">
                    <%= tipoUsuario %>
                </p>
                <p class="mt-4">
                    <%= user.email %>
                </p>
            </i>
        </div>
    </div>
</div>
