<%- layout('layouts/main.ejs', {tipoUsuario: tipoUsuario}) %>

<style>
    .gray-text{
        color: #636363;
    }
</style>

<div class="row" style="margin-top: 2%;">
    <div class="card bg-c-blue order-card">
        <div class="card-block">
            <h1 class="display-1">BIENVENIDO</h1>
            <i>
                <p class="lead">
                    a la página de inicio de estudiante
                </p>
            </i>
        </div>
    </div>
</div>

<div class="row" style="padding-top: 2%;">
    <h1 class="display-6 gray-text"><i class="bi bi-lightning-charge-fill" style="color: #449cfc;"></i> Rápido acceso</h1>
</div>
<div class="row">
    <div class="card-deck-wrapper">
        <div class="card-deck">
            <div class="card bg-info p-2">
                <a class="card-block stretched-link text-decoration-none text-white text-center" href="/crear_propuesta">
                    <h1><i class="bi bi-journal-arrow-up"></i></h1>
                    <h4 class="card-title">Nueva</h4>
                    <p class="card-text">Cree una nueva propuesta o tesis</p>
                </a>
            </div>
        </div>
    </div>
</div>