<%- layout('layouts/main.ejs', {tipoUsuario: tipoUsuario}) %>

<h2 class="display-4">Propuestas de tesis con ID sin asignar</h2>

<div class="container py-4">
    <table
        id="historial"
        class="table table-striped table-bordered dt-responsive nowrap"
        style="width: 100%"
    >
        <thead>
        <tr>
            <th>Título</th>
            <th>Alumnos</th>
            <th>Fecha</th>
            <th>Ver</th>
        </tr>
        </thead>
    </table>
</div>